.helios-pagination {
    margin: 20px;
    padding: 8px;
    border: 1px solid;
    border-color: #070809 #0d0e0f #131517;
    border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, .65) rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    background-color: rgba(38, 39, 44, 0.5) !important;
    background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
}

.page-link {
    margin-left: 6px !important;
    padding: 0 6px;
    min-width: 17px;
    line-height: 27px;
    font-size: 1em;
    font-weight: 500;
    color: #d4d4d4 !important;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.9) !important;
    border-radius: 3px;
    text-shadow: 0 1px black;
    background-clip: padding-box;
    background-color: #26272c !important;
    background: linear-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), inset 0 1px rgba(255, 255, 255, 0.04), inset 0 -1px rgba(0, 0, 0, .15), 0 1px 1px rgba(0, 0, 0, .1) !important;
    transition: 0.1s ease-out;
    display: inline-block !important;
}

.page-link:hover {
    background-color: #333 !important;
    background: rgba(255, 255, 255, 0.05);
}

.page-link:active {
    text-shadow: 0 -1px black;
    background-color: #1c1c1c !important;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

.page-link-active {
    text-shadow: 0 -1px black;
    background-color: #1c1c1c !important;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6) !important;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06) !important;
    cursor: default !important;
}

.page-link-active:hover {
    text-shadow: 0 -1px black;
    background-color: #1c1c1c !important;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6) !important;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06) !important;
    cursor: default !important;
}

.helios-textbox {
    border-radius: 6px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    display: inline;
    background: rgba(255, 255, 255, 0.1) !important;
    outline: none;
    box-shadow: inset 2px 3px 12px rgba(0, 0, 0, 0.7) !important;
    border: 1px solid rgba(255, 255, 255, 0.005) !important;
    transition: all 0.3s !important;
    font-size: 1.1em !important;
    display: inline-block !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.helios-textbox:hover {
    border: 1px solid rgb(33, 150, 243) !important;
    box-shadow: inset 2px 5px 20px rgba(3, 169, 244, 0.5) !important;
}

.helios-textbox:focus {
    border: 1px solid rgba(3, 169, 244, 0.5) !important;
}

.generic-button {
    margin-left: 6px !important;
    padding: 0 10px;
    min-width: 17px;
    line-height: 27px;
    font-size: 0.9em;
    font-weight: 500;
    color: #d4d4d4 !important;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.9) !important;
    border-radius: 3px;
    text-shadow: 0 1px black;
    background-clip: padding-box;
    background-color: #26272c !important;
    background: linear-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), inset 0 1px rgba(255, 255, 255, 0.04), inset 0 -1px rgba(0, 0, 0, .15), 0 1px 1px rgba(0, 0, 0, .1) !important;
    transition: 0.1s ease-out;
    display: inline-block !important;
}

.generic-button:hover {
    background-color: #333 !important;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(33, 150, 243) !important;
}

.generic-button:active {
    text-shadow: 0 -1px black;
    background-color: #1c1c1c !important;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}