.html {
    background: white;
}

.header {
    width: 100%;
}

.search-result .title h3 {
    margin: 0 0 15px;
    color: #333;
}

.search-result .title p {
    font-size: 15px;
    color: #333;
}

.well {
    border: 0;
    padding: 15px;
    min-height: 54px;
    background: #fff;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 15px;
    box-shadow: 2px 3px 7px 4px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.well:hover {
    box-shadow: 2px 3px 12px 9px rgba(0,0,0,0.15);
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
}

.search-box {
    border-radius: 50px;
}

.search-button {
    margin-left: 10px;
    border-radius: 50px;
}


.price {
    font-style: oblique;
    color: #F44336 !important;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.breadcrumb {
    background: 0;
}

.search-group {
    display: inline-block;
}

.logo {
    display: inline-block;
}