body {
    background: url("../images/bg.png") #000;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    margin-top: 0;
    background: url("../images/container.png") #000;
    background-attachment: fixed;
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
    padding: 10px 0 10px 0 !important;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    vertical-align: center;
}

.search-result .title h3 {
    margin: 0 0 15px;
    color: #b5b5b5;
}

.search-result .title p {
    font-size: 15px;
    color: #8d8d8d;
}

.search-result .img-fluid {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 3px 6px 14px rgba(0, 0, 0, 0.4);
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.well {
    padding: 15px;
    min-height: 54px;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 15px 25px 15px 25px;
    transition: 0.5s;
    border: 3px solid rgba(0, 0, 0, 0);
    background: 0;
}

.well:hover {
    box-shadow: 0px 5px 20px rgba(3, 169, 244, 0.7);
    border: 3px solid rgb(33, 150, 243);
    background: rgba(3, 169, 244, 0.1) !important;
}

.cheapest {
    background-image: url("../images/cheapest_highlight.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cheapest:hover {
    box-shadow: 0px 5px 20px rgba(244, 2, 31, 0.7);
    border: 3px solid rgb(242, 33, 46);
    background: rgba(244, 2, 2, 0.1) !important;
    background-image: url("../images/cheapest_highlight.png") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
}

.search-box {
    border-radius: 33px 33px 33px 33px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    display: inline;
    background: rgba(255, 255, 255, 0.1) !important;
    outline: none;
    box-shadow: inset 2px 3px 12px rgba(0, 0, 0, 0.7) !important;
    border: 1px solid rgba(255, 255, 255, 0.005) !important;
    transition: all 0.3s !important;
    font-size: 1.1em !important;
    display: inline-block !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.search-box:hover {
    border: 1px solid rgb(33, 150, 243) !important;
    box-shadow: inset 2px 5px 20px rgba(3, 169, 244, 0.5) !important;
}

.search-box:focus {
    border: 1px solid rgba(3, 169, 244, 0.5) !important;
}

.search-button {
    margin-left: 20px;
    background-color: #0d7ec4 !important;
    background: linear-gradient(to bottom, #0d7ec4 0%, #0a76b9 19%, #035b98 52%, #045a93 100%);
    cursor: pointer;
    transition: all 0.3s !important;
    text-align: center;
    vertical-align: middle;
    outline: none;
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 3px 6px 14px rgba(0, 0, 0, 0.4);
    border-radius: 50px !important;
    border: 2px solid #154c86 !important;
    color: #fff;
    font-size: 1.0em !important;
    display: inline-block !important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}

.search-button:hover {
    background-color: #1a74d3 !important;
    box-shadow: 0px 5px 20px rgba(3, 169, 244, 0.5) !important;
    border: 2px solid rgb(33, 150, 243) !important;
}

.search-button:active {
    color: #17954c !important;
}

.price {
    color: #F44336 !important;
    font-size: 1.2em !important;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.filter-nav {
    background: 0 !important;
}

.filter-bar {
    height: 60px;
    width: 100% !important;
    background: url("../images/nav.png") #212121 !important;
    background-repeat: repeat-x;
    vertical-align: middle !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.search-group {
    display: inline-block;
}

.header-form {
    padding-top: 15px;
    vertical-align: middle; !important;
}

.logo {
    margin-left: 10px;
    display: inline-block;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 12px;
    transition: all 0.5s;
}

.logo:hover {
    box-shadow: 0px 5px 20px rgba(3, 169, 244, 0.7);
    border: 3px solid rgb(33, 150, 243);
    background: rgba(3, 169, 244, 0.1) !important;
}

.filter-bar-text {
    color: #828282 !important;
}

.result-item:hover {
    text-decoration: none; !important;
}

#filter-bar {
    margin-top: 0px !important;
    height: 60px !important;
}

.nav-link:hover {
    color: white;
    background-image: url("../images/nav_link_hover.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.helios-pagination {
    margin: 20px;
    padding: 8px;
    border: 1px solid;
    border-color: #070809 #0d0e0f #131517;
    border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, .65) rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    background-color: rgba(38, 39, 44, 0.5) !important;
    background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
}

.page-link {
    margin-left: 6px !important;
    padding: 0 6px;
    min-width: 17px;
    line-height: 27px;
    font-size: 1em;
    font-weight: 500;
    color: #d4d4d4 !important;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.9) !important;
    border-radius: 3px;
    text-shadow: 0 1px black;
    background-clip: padding-box;
    background-color: #26272c !important;
    background: linear-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), inset 0 1px rgba(255, 255, 255, 0.04), inset 0 -1px rgba(0, 0, 0, .15), 0 1px 1px rgba(0, 0, 0, .1) !important;
    transition: 0.1s ease-out;
    display: inline-block !important;
}

.page-link:hover {
    background-color: #333 !important;
    background: rgba(255, 255, 255, 0.05);
}

.page-link:active {
    text-shadow: 0 -1px black;
    background-color: #1c1c1c !important;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

.page-link-active {
    text-shadow: 0 -1px black;
    background-color: #1c1c1c !important;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6) !important;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06) !important;
    cursor: default !important;
}

.page-link-active:hover {
    text-shadow: 0 -1px black;
    background-color: #1c1c1c !important;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6) !important;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06) !important;
    cursor: default !important;
}
